:root {
    --primary-color: #D8A43E;
}

#createPage{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#createEvent {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#createEvent h1 {
    font-size: 25px;
    margin: 10px 0;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#eventForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
}

#nomEvenement,
#lieuEvenement{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}


#nomEvenement:focus,
#lieuEvenement:focus{
    background-color: #ccc;
    border: 3px solid #D8A43E; 
}

input:focus,
textarea:focus,
select:focus {
    background-color: #ccc;
    border: 3px solid #D8A43E;  
    outline: none;
}


#create {
    background-color: #D8A43E;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px; /* Arrondir le bouton */
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
}

#create:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #D8A43E;
}


/* CreateEvent.css ou votre fichier de styles */
.success-message {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    width: 40%;
    padding: 10px;
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    text-align: center;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-top: 110px;
}

.error-message{
    position: fixed;
    top: 0; 
    right: 50%;
    transform: translate(50%, -50%);
    width: 40%;
    padding: 10px;
    background-color: rgba(175, 76, 76, 0.8);
    color: #fff;
    text-align: center;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    margin-top: 110px;
}