/* Galleries.css */

.galleries-page {
    background-image: url(../assets/g.jpeg);
    background-size: cover;
    text-align: center;
    padding: 20px;
}
.galleries-page h1{
    font-family: 'Playball','Libre Baskerville';
    color: #856525;
    font-size: 38px;
}
.galleries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.image-box {
    width: 30%; /* Chaque image prend 30% de la largeur du conteneur */
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

.image.img-size {
    width: 100%;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    object-fit: cover; /* Ajustez le comportement d'ajustement de l'image */
    border: 2px solid #D8A43E;
    border-radius: 8px;
}