
/* Style du conteneur du formulaire */
.form-container {
    padding-top: 25px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre du formulaire */
h2 {
    text-align: center;
}

/* Style des étiquettes des champs */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style des champs de saisie */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 3px;
}

/* Style du bouton de soumission */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}