@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');
.principale{
    background-image: url(../styles/g.jpeg);
    background-size: cover;
}
.titre{
    color: #000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#D8A43E ;
    font-weight: 200;
    font-style: italic;
    font-family: 'Playball','Libre Baskerville';
}

.nosServices {
    font-family: 'Bukhari';
    margin-left: 3px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    gap: 10px; /* Espace entre les composants */
    margin-right: 0px;
}

.nosEvents {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /*Deux colonnes de largeur égale */
    gap: 30px; /* Espace entre les composants */
}

.rightSide{
    margin-left: 200px;
    padding-left: 30px;
    font-size:10px;
    font-style:italic;
    background-color: #D8A43E;
    border-radius: 3%;
    width:400px;
    color:#fff;
    font-family: 'Playball','Libre Baskerville';
    box-shadow: 10px 10px 15px #888;
    height:600px;
    font-weight: bold;
    text-align: center;
}



i{
    color: #D8A43E;
}

.rightSide h1{
    color: #fff;
}

p{
    font-size: 20px;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
}
#Checkmark h2{
    padding-top: 0px;
    margin-left: 10px;
    color: #fff;
    font-size:20px;
    position: absolute;
    font-weight: bold;
}

.para{
    
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
