.Seminaire{
    box-shadow: 5px 10px 10px #888;
    border-radius: 5%;
    padding-bottom: 2%;
}

i{
    color: #D8A43E;
}

#Seminaire a{
    display: inline-block;
    padding: 10px 20px; /* Ajustez la taille du bouton selon vos besoins */
    background-color: #D8A43E; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Communion h2{
    color: #D8A43E;
    text-align:center;
    font-family:'Playball','Libre Baskerville';
}